.login-container {
  display: flex;
  height: 100vh;
  max-width: 1280px; /* Set a max-width for the container */
  margin: 0 auto; /* Center the container */
}

.bg {
  flex: 1;
  background-image: url('/public/login.jpg');
  height: auto; /* Allow height to adjust based on content */
  background-size: cover; /* Ensure the image covers the container */
  background-position: center;
}

.contents {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
/* General styles for container */
.container {
  max-width: 600px;
  width: 100%;
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* LTR layout */
.ltr .container {
  direction: ltr;
  text-align: left;
}

/* RTL layout */
.rtl .container {
  direction: rtl;
  text-align: right;
}

/* Other styles remain unchanged */


h3 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: #333;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #555;
}

.form-control {
  width: 90%;
  padding: 1rem;
  font-size: 1.1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.btn-primary {
  width: 95%;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #007bff;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.control--checkbox {
  display: flex;
  align-items: center;
}

.control--checkbox .caption {
  margin-left: 0.5rem;
}

.forgot-pass {
  text-decoration: none;
  color: #007bff;
}

.forgot-pass:hover {
  text-decoration: underline;
}

.error {
  color: red;
  margin-bottom: 1rem;
}

/* Mobile styles */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column; /* Stack the elements vertically */
    padding: 5px; /* Add some padding for mobile */
  }

  .bg {
    flex: 1;
    height: 100px; /* Reduce the height for mobile */
    background-size: contain; /* Ensure the image scales down */
    background-position: center;
    background-repeat: no-repeat;
  }

  .contents {
    flex: 1;
    justify-content: flex-start; /* Align the content to the top */
    padding: 10px;
  }

  .container {
    width: 100%;
  }

  h3 {
    font-size: 1.5rem; /* Adjust the font size */
    margin-top: 10px; /* Add margin top to separate from bg */
  }

  .form-group {
    margin-bottom: 0.5rem; /* Reduce margin between form groups */
  }

  .form-control {
    padding: 0.75rem; /* Adjust padding */
    font-size: 1rem; /* Adjust font size */
  }

  .btn-primary {
    padding: 0.75rem; /* Adjust padding */
    font-size: 1rem; /* Adjust font size */
  }
}
