.Content {
  flex: 1;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #ffffff;
  max-width: 1550px;
}

.Content.ltr {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.Content.rtl {
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* Container for the list of properties */
.properties-list {
  display: flex;
  flex-direction: column;
  width: 83%;
  padding: 0; /* Removed vertical padding */
  margin: 0 auto;
}

/* Each property item in the list */
.property-item {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px; /* Reduced margin between items */
  height: 290px; /* Set a fixed height */
}


.property-item.rtl {
  text-align: right;
  direction: rtl;
}

.property-item.ltr {
  text-align: left;
  direction: ltr;
}

/* Imagee container */
.property-imagee-container {
  width: 100%;
  overflow: hidden;
}

.property-imagee {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.property-item:hover .property-imagee {
  transform: scale(1.05);
}

/* Property information */
.property-info {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.title-p {
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  font-size: 1.4em;
  margin-bottom: 10px;
  color: #2c3e50;
}
  .rtl .title-p{
    text-align: right;
    direction: rtl;
  }
  .ltr .title-p{
    text-align: left;
    direction: ltr;
  }
.property-info p {
  margin: 5px 0;
  color: #34495e;
  font-size: 0.95em;
}

.strongg {
  font-weight: bold;
  color: #2980b9;
  text-transform: capitalize;
}

.price-container {
  margin-top: 10px;
}

.old-price {
  font-weight: bold;
  text-decoration: line-through;
  color: #e74c3c;
  margin-right: 8px;
}

.new-price {
  font-weight: bold;
  color: #27ae60;
  margin-left: 4px;
}

.small-text {
  font-size: 0.8em;
  color: grey;
}

.property-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.pagination button {
  background-color: #2980b9;
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  margin: 0 10px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.pagination button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #1f6391;
  transform: scale(1.05);
}

/* Loading Spinner Styles */
.loadingg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.spinnerr {
  font-size: 50px;
  color: #555;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loadingg p {
  font-size: 1.2em;
  color: #555;
}

/* Footer styling */
.Footer {
  background-color: #ffffff;
  padding: 25px;
  text-align: center;
  font-size: 0.9em;
  color: #95a5a6;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.05);
}


/* Mobile styles */
@media (max-width: 640px) {
  .property-item {
    flex-direction: column;
    height: 600px;
  }

  .property-imagee-container {
    width: 100%;
  }
  .properties-list {
    width: 98%;
  }
  .title-p {
    font-size: 1.1em;
  }

  .property-info p {
    font-size: 0.9em;
  }

  .pagination button {
    padding: 10px 16px;
    margin: 0 5px;
    font-size: 0.9em;
  }
}

/* Tablet styles */
@media (min-width: 641px) and (max-width: 960px) {
  .property-imagee-container {
    width: 40%;
  }
  
}

/* Desktop styles */
@media (min-width: 961px) {
  .property-imagee-container {
    width: 35%;
  }
}
