.Content {
  flex: 1;
  padding: 10px;
  margin-bottom: 10px;
}

.Content.ltr {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Content.rtl {
  text-align: right;
  direction: rtl;
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.Content .properties-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 0;
}

.Content .property-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: left;
  transition: transform 0.3s ease; /* Add transition for smooth scaling */
}

.property-card.rtl {
  text-align: right;
}

.property-card.ltr {
  text-align: left;
}

.Content .property-card:hover {
  transform: scale(1.05); /* Scale up the card slightly on hover */
}

.Content .property-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  margin-bottom: 5px;
}

.title-p {
  text-align: center;
  font-family: "Tajawal", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.strong {
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #0056b3;
}

.price-container {
  display: flex;
  flex-direction: column;
}

.small-text {
  color: grey;
  font-size: 0.8em;
  margin-top: -10px;
}

.property-price {
  font-size: 1.2em;
}

.old-price {
  text-decoration: line-through;
  color: red;
  margin-right: 10px;
}

.new-price {
  font-weight: bold;
  color: green; /* Optional for new price emphasis */
}

/* Mobile styles */
@media (max-width: 500px) {
  .Content {
    padding: 5px;
  }

  .Content .properties-grid {
    grid-template-columns: 1fr;
    gap: 5px;
  }

  .Content .property-image {
    width: 100%;
    height: 320px;
    object-fit: cover;
    margin-bottom: 5px;
  }

  .Content .property-card {
    padding: 8px;
  }

  .pagination {
    margin-top: 5px;
  }

  .pagination button {
    padding: 6px 10px;
  }
}

/* Styles for screens between mobile and tablet */
@media (min-width: 501px) and (max-width: 768px) {
  .Content {
    padding: 5px;
  }

  .Content .properties-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .Content .property-card {
    padding: 10px;
  }

  .Content .property-image {
    width: 100%;
    height: 320px;
    object-fit: cover;
    margin-bottom: 5px;
  }

  .pagination {
    margin-top: 10px;
  }

  .pagination button {
    padding: 8px 12px;
  }
}

/* Tablet styles */
@media (min-width: 769px) and (max-width: 1024px) {
  .Content .properties-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

/* Default styles for larger screens */
@media (min-width: 1025px) {
  .Content .properties-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
}