/* General styles */
.Footer {
  background-color: #edebeb;
  color: #333;
  text-align: left;
  padding: 40px 20px;
  margin-top: 20px;
}

.Footer .Footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8a94e0;
  padding: 10px 20px;
}

.Footer .Footer-top p {
  margin: 0;
  color: #333333;
}

.Footer .Social-icons a {
  color: #3f3f3f;
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.3em;
  transition: transform 0.3s ease, color 0.3s ease;
}

.Footer .Social-icons a:hover {
  transform: scale(1.5);
  color: #0d6efd;
}

.Footer .Social-icons a:hover .fa-facebook-f {
  color: #4267B2;
}

.Footer .Social-icons a:hover .fa-instagram {
  color: #C13584;
}

.Footer .Social-icons a:hover .fa-whatsapp {
  color: #25D366;
}

.Footer .Social-icons a:hover .fa-phone {
  color: #25D366;
}




.Footer .Footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0;
}

.Footer .Footer-column {
  flex: 1;
  padding: 0 20px;
  min-width: 250px;
}

.Footer .Footer-column h3 {
  margin-top: 0;
  color: #333;
}

.Footer .Footer-column p {
  color: #333;
}

.icon-left {
  display: flex;
  align-items: center;
}

.icon-left .fa-phone,
.icon-left .fa-map-marker-alt {
  margin-right: 10px;
}

.icon-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icon-right .fa-phone,
.icon-right .fa-map-marker-alt {
  margin-left: 10px;
}

.contact-column-right {
  text-align: right; /* Align text to the right */
}

.Footer .Footer-bottom {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #ccc;
  color: #333;
}

.Footer .Footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0;
}

.Footer .Footer-links-group {
  flex: 1;
  margin: 0 20px;
  min-width: 250px;
}

.Footer .Footer-links-group h4 {
  margin-bottom: 10px;
  color: #333;
}

.Footer .Footer-links-group p {
  margin: 0;
  color: #333;
}

@media (min-width: 769px) {
  .menu-toggle {
    display: none;
  }

  .properties-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Tablet specific styles */
@media (max-width: 600px) and (min-width: 569px)  {
  .Footer .Footer-content {
    flex-direction: column;
    align-items: center;
  }

  .Footer .Footer-column {
    text-align: center;
    padding: 10px 0;
  }
  
}

/* Mobile specific styles */
@media (max-width: 767px) {
  .Footer .Footer-content {
    flex-direction: column;
    align-items: center;
  }

  .Footer .Footer-column {
    text-align: center;
    padding: 10px 0;
  }
  .Footer .Footer-column.centered {
    
    text-align: center;
    padding: 10px 0;
  
  }
}

/* RTL specific styles */
.App-footer-rtl .Footer-top,
.App-footer-rtl .Footer-content,
.App-footer-rtl .Footer-bottom {
  direction: rtl;
}

.App-footer-rtl .icon-left .fa-phone,
.App-footer-rtl .icon-left .fa-map-marker-alt {
  margin-right: 0;
  margin-left: 10px;
}

.App-footer-rtl .icon-right .fa-phone,
.App-footer-rtl .icon-right .fa-map-marker-alt {
  margin-left: 0;
  margin-right: 10px;
}

.Footer-column.centered {
  text-align: center;
}