.ProductDetail {
  padding: 120px;
  font-family: 'Arial', sans-serif;
  max-width: 100%;
  position: relative;
  background-color: #ffffff;
}

.content {
  display: flex;
  align-items: center; /* Center align items vertically */
  gap: 40px;

}

.content.rtl {
  direction: rtl;
  text-align: right;
  margin: 0px;
}

.content.ltr {
  direction: ltr;
  text-align: left;
  margin: 0px;
}

.go-back-bb {
  background-color: #4A90E2;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 70px;
  left: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.go-back-bb:hover {
  background-color: #357ABD;
}

.image-g-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: 50%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: auto;
  max-height: 100%; /* Ensure the container doesn't exceed the content's height */
}

.scroll-button {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 50%;
}

.scroll-button.left {
  left: 10px;
}

.scroll-button.right {
  right: 10px;
}

.image-g {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.property-i {
  width: 100%;
  height: 580px; /* Fixed height */
  max-height: 100%; /* Ensure the image doesn't exceed the container's height */
  border-radius: 10px;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.product-details {
  flex: 1;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  max-width: 50%;
  height: 500px; /* Match the height of .property-i */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Align content within the details section */
  font-family: "Tajawal", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.details-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.details-table td {
  padding: 8px 0;
  vertical-align: top;
  font-size: 1rem;
  border-bottom: 1px solid #e9ecef;
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.details-table td strong {
  margin-left: 10px;
  color: #495057;
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ProductDetail h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  color: #212529;
}

.ProductDetail p {
  margin: 10px 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
}

.btn {
  background-color: #007bff; /* WhatsApp green color */
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: #0056b3; /* Darker WhatsApp green on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


/* modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 80%;
  max-width: 500px;
}

.modal-btn {
  background-color: #007bff; /* Bootstrap primary blue color */
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.modal-btn-w {
  background-color: #419681; /* Bootstrap primary blue color */
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-btn-w:hover {
  background-color: #0a5e54; /* Darker blue on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.modal-close {
  background-color: #6c757d; /* Bootstrap secondary grey color */
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 100%;
}

.modal-close:hover {
  background-color: #5a6268; /* Darker grey on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.modal-close:hover {
  background-color: #357ABD;
}
.heart-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
}

.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.image-modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enlarged-image {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.scroll-button {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 50%;
}

.scroll-button.left {
  left: 10px;
}

.scroll-button.right {
  right: 10px;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust spacing between buttons */
}

.share-btn {
  background-color: #808080;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.share-btn:hover {
  background-color: #4e4e4e;
}


/* Mobile styles */
@media (max-width: 768px) {
  .ProductDetail {
    padding: 140px 0; /* Ensure consistent padding */
  }

  .content {
    flex-direction: column;
    gap: 20px;
    padding: 0 10px; /* Reduce space on the sides */
  }

  .go-back-bb {
    margin-top: 45px;
    left: 20px;
    font-size: 12px;
  }

  .image-g-container {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  .property-i {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    max-height: 330px; /* Ensure the image doesn't exceed the container's height */
    border-radius: 10px;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }
  .product-details {
    max-width: 100%; /* Ensure full width for mobile devices */
    padding: 20px 15px; /* Adjust padding for mobile devices */
    margin: auto;
    box-sizing: border-box; /* Ensures padding is included in width */
    width: 100%; /* Ensure it matches the image width */
    height: auto; /* Adjust height for mobile */
  }

  .details-table td {
    padding: 8px 0; /* Ensure consistent padding for mobile devices */
    font-size: 0.9rem; /* Adjust font size for mobile devices */
  }

  .ProductDetail h1 {
    font-size: 1.5rem; /* Adjust font size for mobile devices */
    margin-bottom: 15px; /* Adjust margin for mobile devices */
  }

  .ProductDetail p {
    font-size: 0.9rem; /* Adjust font size for mobile devices */
    line-height: 1.4; /* Adjust line height for mobile devices */
  }

  .btn {
    padding: 8px 16px;
    font-size: 0.9rem;
  }

  .scroll-button {
    font-size: 20px;
    padding: 8px;
  }
  .modal-content {
    position: relative;
    right: 20px;
  }
  
}

/* Tablet styles */
@media (min-width: 769px) and (max-width: 1024px) {
  .ProductDetail {
    padding: 180px 20px; /* Ensure consistent padding */
  }

  .content {
    flex-direction: column;
    gap: 30px;
    padding: 0 20px; /* Reduce space on the sides */
  }

  .go-back-bb {
    margin-top: 80px;
    left: 40px;
    font-size: 14px;
  }

  .image-g-container {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .property-i {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    max-height: 400px; /* Ensure the image doesn't exceed the container's height */
    border-radius: 10px;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }

  .product-details {
    max-width: 100%; /* Ensure full width for tablet devices */
    padding: 30px 20px; /* Adjust padding for tablet devices */
    margin: auto;
    box-sizing: border-box; /* Ensures padding is included in width */
    width: 100%; /* Ensure it matches the image width */
    height: auto; /* Adjust height for tablet */
  }

  .details-table td {
    padding: 8px 0; /* Ensure consistent padding for tablet devices */
    font-size: 1rem; /* Adjust font size for tablet devices */
  }

  .ProductDetail h1 {
    font-size: 1.75rem; /* Adjust font size for tablet devices */
    margin-bottom: 20px; /* Adjust margin for tablet devices */
  }

  .ProductDetail p {
    font-size: 1rem; /* Adjust font size for tablet devices */
    line-height: 1.5; /* Adjust line height for tablet devices */
  }

  .btn {
    padding: 10px 20px;
    font-size: 1rem;
  }

  .scroll-button {
    font-size: 22px;
    padding: 10px;
  }
}

